@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f7ff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

main{
    border-radius: 1rem;
    background: #ffffff;
    max-width: 416px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.2);
}

main img{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
    height: 100%;
    width: 100%;
}

main section h1{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #1f2f56;
}

main section p{
    color: #7280a7;
    text-align: center;
}

main strong{
    color: #1f2e55;
}

main img{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}

main .information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    background: #f7f9ff;
    padding: 1.5rem 1rem;
    width: 100%;
    border-radius: 0.8rem;
}

.information .music-price{
    display: flex;
    align-items: center;
}

.information .price{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.information img{
    width: 48px;
    margin-right: 1rem;
}

.information a{
    color: #3829e0;
    font-weight: 600;
    font-size: 90%;
    transition: all 0,3s;
}

.information a:hover{
    color: #1f2f56;
    text-decoration: none;
}

main button{
    cursor: pointer;
    background: #3829e0;
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.2);
    transition: background 0.3s;
}

main button:hover{
    background: #766cf1;
}

.cancel-order{
    text-decoration: none;
    color: #7280a7;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    transition: color 0.3s;
}

.cancel-order:hover{
    color: #1f2f56;
}

.footer{
    text-align: center;
}

.footer a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.footer a:hover{
    text-decoration: underline;
}

@media (max-width: 360px){

    main .information{
       margin: 20px;

    }
}

@media (max-width: 650px){
    body{
        background: url(images/pattern-background-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
}

@media (max-width: 980px) {
    section{
        padding: 0 3rem;
    }
}

